/* Write your CSS here */

.item {
  list-style: none;
  cursor: pointer;
  outline: none;
}

.button {
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 10px;
}
.active {
  color: blue;
}
